.question,
.error {
    margin-top: 5px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 3px 0px rgb(217, 219, 221);
    background-color: #f2f2f3;
    font-size: 14px;
    text-align: left
}

.answer {
    margin: 0 50px 0 50px
}